<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
 
</head>

<body>
    <center>
        <br><br>
        <h1><b>CALCULATOR</b></h1>
        <form action="/result" method="post">
            <label for="num1">Enter First Number</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="num2">Enter Second Number</label><br>
            <input type="number" id="num1" name="num1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" id="num2" name="num2"><br><br>
            <b><ul>SELECT YOUR OPERATION</ul></b><br>
            <input type="radio" value="addition" name="operation">Addition
            <input type="radio" value="multiplication" name="operation">Multiplication <br>
            <input type="radio" value="division" name="operation">Division&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"
                value="subtraction" name="operation">Subtraction<br>
            <br><br><br>
            <input type="submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Reset">
        </form>
    </center>
</body>

</html>